html, body, #root, .App {
  height: 100vh;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-list {
  all: unset;
  list-style: none;

  &__item {
    padding: 1rem;

    &:hover, &:focus {
      background: lightgray;
    }
  }
}

.story {
  all: unset;
  display: inline-block;
  cursor: pointer;

  &__rank {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: orange;
    border-radius: 5px;
    width: 3rem;
    height: 2rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    border-bottom: 1px solid gray;
  }

}